@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: rgb(255, 255, 255);
  --main-color: #151515;
}
 
html{
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--text-color);
  color: var(--second-bg-color);
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 12% 4rem;
  background: rgba(173, 225, 249, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  z-index: 5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 3rem;
  color: var(--second-bg-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.7);
  color: rgba(20, 39, 133, 0.5);
}


.logo:hover {
  transform: scale(2.1);
}

.logo:active {
  transform: scale(1.7);
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.nav-bar a{
  font-size: 1.5em;
  color: var(--bg-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.nav-bar a:hover,
.nav-bar a:active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}


section {
  min-height: 100vh;
  padding: 10rem 12% 10rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 3rem;
  margin-right: 39rem;
}

.home-content p {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
  margin-right: 40rem;
}

.home-content p {
  font-size: 2rem;
  margin-right: 40rem;
}

.home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
  margin-right: 40rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: rgba(194, 231, 247, 0.3);
  border-radius: 4rem;
  box-shadow: 0 0 25px rgba(20, 39, 133, 0.5);
  font-size: 1.6rem;
  color: rgba(20, 39, 133, 0.5);
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px rgba(20, 39, 133, 0.5);
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-right: 40rem;
}

.btn-group a:nth-of-type(2){
  background-color: white;
  color: rgba(20, 39, 133, 0.5);
  border: 2px solid rgba(20, 39, 133, 0.5);
  box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
  box-shadow: 0 0 25px rgba(20, 39, 133, 0.5);
  background-color: rgba(20, 39, 133, 0.5);
  color: white;
}


.home-img {
  width: 10px;
  position: absolute;
  transition: 0.3s;

}

.home-img img {
  border-radius: 76% 41% 54% 60% / 81% 52% 74% 54% ;
  box-shadow: 0 0 50px rgba(11, 26, 101, 0.7);
  cursor: pointer;
  margin-top: 80px;
  margin-left: 5rem;
  transition: 0.2s ease;
}

.home-img img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 90px rgba(11, 26, 101, 0.8);
}


.container {
  padding: 0;
  margin: 0;
  font-size: 16px;
  width:100%;
  display:block;
  justify-content: center;
  align-items: center;
}

.container p {
  margin-left: 18rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  width: 1000px;
  margin: 0 -5px ;
  margin-left: 15rem;

}

.textbox {
  padding: 10px;
  margin-right: 6rem;
  border: solid 2px var(--main-color);
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 40px rgb(0, 0, 0, 0.3);
  font-size: large;
  font-size: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10rem;
  transition: 0.2s ease;
}


.outline {
  width: 450px;
  height: 444px;
  z-index: -1;
  position: absolute;
  border: solid 1px rgba(20, 39, 133, 0.5);
  left: -3px;
  top: 76px;
  border-radius: 17% 63% 17% 20% / 36% 54% 44% 56% ;
  margin-left: 5rem;
}

.outline-2 {
  width: 444px;
  height: 444px;
  z-index: -1;
  position: absolute;
  border: solid 1px rgba(20, 39, 133, 0.5);
  left: 0px;
  top: 80px;
  border-radius: 43% 21% 17% 46% / 36% 54% 44% 25%  ;
  rotate: 8deg;
  margin-left: 5rem;
}

.textbox:hover {
  cursor: pointer;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}

.mailto-btn {
  color: black;
  transition: 0.2s;
}

.mailto-btn:hover {
  color: rgba(20, 39, 133, 0.5);
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.home {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.body-part {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}